:root {
    --gutter: 2rem;
}
.row {
    margin-left: calc(-var(--gutter) / 2);
    margin-right: calc(-var(--gutter) / 2);
}

.banner {
    width: 100%;
}

.background-img {
    width: 100%;
    background-image: url("../media/banner.jpg");   
    background-position: center;
    background-size: cover;
}

.logo {
    text-decoration: none;
    font-size: 20px;
    color: white;
    float: left;
    display: block;
}

.top-nav {
    display: inline-block;
    text-align: left;
}

.top-nav a {
    text-decoration: none;
    font-size: 14px;
}

.banner h1::after { 
    content: "\A __";
    white-space: pre;
    color: #ff5900;
}

.button {
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin-top: 2rem;
    cursor: pointer;
}

.button-sm {
    border: none;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    border-radius: 1em;
    padding: 0.5rem;
    margin-top: 1em;
}

.button1 {
    background-color: #ff5900;
    color: white;
}
.button2 {
    background-color: white;
    color: black;
}

.backgroud-red-orange {
    background-color: #ff5900;
}

.getstart-section {
    text-align: center;
    color: white;
}

.getstart-section p:first-child {
    font-size: 30px;
}

.getstart-section p:first-child::after {
    content: "\A ___";
    white-space: pre;
    color: white;
}

.getstart-section p:nth-child(2) {
    margin-top: 1.5rem;
}