    body { 
        font-family: "Open Sans", sans-serif, Arial;
        font-size: 16px;
        margin: 0;
    }
    
    * {
        box-sizing: border-box;
    }
    
/* Banner */
    .banner {
        widows: 100%;
        padding: 20%;
        text-align: center;
        background-repeat: no-repeat;
        color: white;
    }

    .banner h1 {font-size: 3em;}

    .banner p {padding: 0 70px 0 70px;}

    .background-img {
        width: 100%;
        background-image: url("../media/banner.jpg");   
        background-position: center;
        background-size: cover;
    }

    .flex-container {
        display: flex;
        justify-content: center;
    }

    .banner-text {
        width: 100%;
        text-align: center;
    }

/* Header: include logo and navbar */
    .header-container {
        position: relative;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .header {
        position: absolute;
        padding: 0.5% 0;
        top: 0;
        left: 10%;
        right: 10%;
    }

    .logo {
        position: absolute;
        left: 0;
        display: inline-block;
        text-decoration: none;
        color: white;
    }

    .logo a {
        text-decoration: none;
        color: white;
        font-size: 20px;
    }

    .logo ul {list-style-type: none;}
    .logo li {float: left;}

    .top-nav {
        position: absolute;
        right: 0;
        display: inline-block;
        color: white;
        text-align: center;
    }

    .top-nav a {
        text-decoration: none;
        color: white;
        padding: 0 1em;
        font-size: 14px;
    }

    .top-nav ul {list-style-type: none;}
    .top-nav li {float: right;}

/* Sections of the website */
    /* Get Start Section */
        .getstart-section-flex-container {
            display: flex;
            justify-content: center;
            background-color: #ff5900;
        }

        .getstart-section {
            margin: 5%;
            width: 60%;
            text-align: center;
            color: white;
        }
    
    /* Download Section */
        .download-section-flex-container {
            display: flex;
            justify-content: center;
            background-color: black;
        }

        .download-section {
            padding: 5%;
            text-align: center;
            color: white;
        }

    /* Service Section */
        .service-section {
            padding: 5%;
            text-align: center;
            background-color: white;
            color: black;
        }

/* Buttons */
    .button {
        border: none;
        border-radius: 30px;
        padding: 15px 30px;
        text-align: center;
        font-weight: 600;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button1 {
        background-color: #ff5900;
        color: white;
    }
    .button2 {
        background-color: white;
        color: black;
    }

/* Icons */
    .icon-flex-container {
        display: flex;
        justify-content: center;
    }

    .icon-flex-container div {
        width: 220px;
        margin: 10px;
        text-align: center;
    }

/* Images Section */
    /* Row and column for image section */
        .row {
            display: flex;
        }

    /* Create three equal columns that sits next to each other */
        .column {
            flex-basis: calc(100% / 3);
        }

        .img-gallery {
            height: 16.6667vw;
            background-position: center;
            background-size: cover;
        }

/* Footer */
    .footer-flex-container {
        display: flex;
        justify-content: center;
        background-color: white;
    }

    .footer {
        padding: 5%;
        width: 60%;
        text-align: center;
        background-color: white;
        color: black;
    }