body { 
    font-family: "Open Sans", sans-serif, Arial;
    font-size: 16px;
    margin: 0;
}

/* Banner */
.banner {
    position: relative;
    padding: 250px 500px 250px 500px;
    background-image: url("../media/banner.jpg");
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    color: white;
}

.banner h1 {font-size: 3em;}

.banner p {padding: 0 70px 0 70px;}

.flex-container {
    display: flex;
    justify-content: center;
}

.banner-text-flex-container {
    width: 100%;
    text-align: center;
}

/* Header: include logo and navbar */
.header-container {
    position: relative;
    padding: 0;
}

.header {
    position: absolute;
    padding: 10px 400px;
    top: 0;
    left: 15%;
    right: 15%;
}

.logo {
    position: absolute;
    top: 10%;
    left: 0;
    display: inline-block;
    text-decoration: none;
    color: white;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 14px;
}

.top-nav {
    position: absolute;
    top: 10%;
    right: 0;
    color: white;
    text-align: center;
}

.top-nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 14px;
}

.top-nav li {float: right;}
.top-nav ul {list-style-type: none;}

/* Sections of the website */
.getstart-section-flex-container {
    display: flex;
    justify-content: center;
    background-color: #ff5900;
}

.getstart-section {
    margin: 100px;
    width: 50%;
    text-align: center;
    color: white;
}

.download-section {
    padding: 100px;
    text-align: center;
    background-color: black;
    color: white;
}

.service-section {
    padding: 100px;
    text-align: center;
    background-color: white;
    color: black;
}

/* Buttons */
.button {
    border: none;
    border-radius: 30px;
    padding: 15px 30px;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color: #ff5900;
    color: white;
}
.button2 {
    background-color: white;
    color: black;
}

/* Icons */
.icon-gallery {
    display: inline-block;
    margin: 5px;
    border: none;
    width: 180px;
}

.icon-flex-container {
    display: flex;
    justify-content: center;
}

.icon-flex-container div {
    width: 220px;
    margin: 10px;
    text-align: center;
  }

/* Row and column for image section */
.row {
    display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
    flex-basis: calc(100% / 3);
}

.column img {
    vertical-align: middle;
    width: 100%;
}

.img-gallery {
    height: 16.6667vw;
    background-position: center;
    background-size: cover;
}

/* Responsive layout for image section - makes a two column-layout instead of four columns when resize windows*/
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout for image section - makes the two columns stack on top of each other instead of next to each other when resize windows*/
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/* Footer */
#footer {
    padding: 100px 540px 100px 540px;
    text-align: center;
    background-color: white;
    color: black;
}